---
title: Tags
layout: page
popular: 3
---

<h1>{{ page.title }}</h1>

<h4>Popular</h5>
{% capture popular_tags %}
    {% for tag in site.data.tags %}
        {% if tag.crates.size >= page.popular %}
            {{ tag.name }}
        {% endif %}
    {% endfor %}
{% endcapture %}
{% assign filtered_pop_list = popular_tags | split: ' ' | sort %}
{% for tag in filtered_pop_list %}
<a class="crate-tag-link" href="{{ site.baseurl }}/search/?q={{ tag }}">{{ tag }}</a>
{% endfor %}
<br><br>

{% assign alphabet= "A B C D E F G H I J K L M N O P Q R S T U V W X Y Z 0 1 2 3 4 5 6 7 8 9" | split: ' ' %}
{% for letter in alphabet %}
    {% capture filtered_tags %}
        {% for tag in site.data.tags %}
            {% assign tag_first_letter = tag.name | upcase | slice: 0 %}
            {% if tag_first_letter == letter %}
            {{ tag.name }}
            {% endif %}
        {% endfor %}
    {% endcapture %}
    {% assign filtered_list = filtered_tags | split: ' ' | sort %}

    {% if filtered_list.size > 0 %}
<h4>{{ letter }}</h5>
        {% for tag in filtered_list %}
<a class="crate-tag-link" href="{{ site.baseurl }}/search/?q={{ tag }}">{{ tag }}</a>
        {% endfor %}
<br><br>
    {% endif %}
{% endfor %}

<br>
{{ site.data.tags.size }} unique tags.
