---
layout: page
---
<h1>{{ page.title }}</h1>
<h4>{{ page.short_description }}</h4>
{% for link in page.websites %}
  <a href="{{ link }}">Website</a>
{% endfor %}
<br>
<b>Author{% if page.authors.size > 1 %}s{% endif %}: </b>{{ page.authors | join: ", " }}
<br>
<b>Maintainer{% if page.maintainers.size > 1 %}s{% endif %}: </b>{{ page.maintainers | join: ", " }}
<br>
<b>License{% if page.authors.licenses > 1 %}s{% endif %}: </b>{{ page.licenses | join: ", "}}
<br>
<b>Version: </b>{{ page.version }}
<br>
<b>Dependencies:</b>
<ul>
  {% for dep in page.dependencies %}
    <li>
      <a href="{{ site.baseurl }}/crates/{{ dep.crate }}">{{ dep.crate }}</a> {{ dep.version }}
    </li>
  {% endfor %}
</ul>
<b>Tags:</b>
{% for tag in page.tags %}
  <a class="crate-tag-link" href="{{ site.baseurl }}/search/?q={{ tag }}">{{ tag }}</a>
{% endfor %}
<br>
{% assign json_url = "https://alire.ada.dev/badges/" | append: page.crate | append: ".json" %}
{% assign badge_url = "https://img.shields.io/endpoint?url="| append: json_url %}
<b>Badge: </b><img src="{{badge_url}}" title="Copy image location: {{badge_url}}"><br>
<hr>
<section>
  {{ content }}
</section>
