---
layout: page_full_width
---
<h1>{{ page.title }}</h1>

<div class="row">
  <!-- Bootstrap Grid system: https://getbootstrap.com/docs/4.0/layout/grid/ -->
  <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 crate-prop-list">

    <b>Website:</b>
    <p>
      {% for link in page.websites %}
        <a href="{{ link }}">{{ link }}</a>
      {% endfor %}
    </p>

    <b>Author{% if page.authors.size > 1 %}s{% endif %}:</b>
    {% include make_list.html list=page.authors %}

    <b>Maintainer{% if page.maintainers.size > 1 %}s{% endif %}:</b>
    {% include make_list.html list=page.maintainers %}

    <b>License{% if page.authors.licenses > 1 %}s{% endif %}:</b>
    <p>
      {{ page.licenses | join: ", " | xml_escape }}
    </p>
    <b>Version:</b>
    <p>
      {{ page.version | xml_escape }}
    </p>

    {% assign ci_badge_url = "https://img.shields.io/endpoint?url="
          | append: site.data.meta.ci_site | append: "/badges/"
          | append: page.crate | append: ".json" %}
    <b>Alire CI: </b>
    <p>
      <a href="{{ site.data.meta.ci_site}}/crates/{{page.crate}}.html" target="_blank">
        <img src="{{ci_badge_url}}" title="CI badge: {{ci_badge_url}}">
      </a>
    </p>

    <b>Dependencies:</b>
    {% if page.dependencies.size > 0 %}
      <ul class="crate-list">

      <!-- The if statement below is to handle the case where there is only one
           dependency. Alire 1.0 and 1.1 generate a single YAML hash:
             dependencies: {crate: "gnat", version: ">=11.2.1"}
           instead of an array with one hash:
             dependencies: [{crate: "gnat", version: ">=11.2.1"}]

          If page.dependencies.crate is true, it means that we have a hash and not
          an array.
      -->
      {% if page.dependencies.crate %}

        <!-- page.dependencies is a hash  -->
        {% assign dep = page.dependencies %}
        <li>
          {% assign crate_link = '/crates/' | append: dep.crate | absolute_url %}
          {%- include crate_badge.html name=dep.crate link=crate_link version=dep.version -%}
        </li>
      {% else %}
        <!-- page.dependencies is an array  -->
        {% for dep in page.dependencies %}
          <li>
            {% assign crate_link = '/crates/' | append: dep.crate | absolute_url %}
            {%- include crate_badge.html name=dep.crate link=crate_link version=dep.version -%}
          </li>
          {% endfor %}
      {% endif %}
    </ul>
    {% else %}
    <p>No dependency.</p>
    {% endif %}

    <b>Dependents:</b>
    {% capture rdeps %}
     {% for crate in site.crates %}
      {% for rdep in crate.dependencies %}
       {% if rdep.crate == page.crate %}
        {{ crate.crate }}
       {% endif %}
      {% endfor %}
     {% endfor %}
    {% endcapture %}
    {% assign rdeps = rdeps | split:' ' %}
    {% if rdeps.size > 0 %}
     <ul class="crate-list">
       {% for rdep in rdeps %}
        <li>
         {% assign crate_link = '/crates/' | append: rdep | absolute_url %}
         {% include crate_badge.html name=rdep link=crate_link %}
        </li>
       {%- endfor %}
     </ul>
    {% else %}
      <p>No dependents.</p>
    {% endif %}

    <b>Badge: </b>
    <p>
      {% assign json_url = "https://alire.ada.dev/badges/" | append: page.crate | append: ".json" %}
      {% assign badge_url = "https://img.shields.io/endpoint?url="| append: json_url %}
      <img src="{{badge_url}}" title="Copy image location: {{badge_url}}">
    </p>

</div>
<div class="col-xl-9 col-lg-8 col-md-7 col-sm-6">
  <h4>{{ page.short_description }}</h4>
  {% if page.tags.size > 0 %}
    {% for tag in page.tags %}
      <a class="crate-tag-link" href="{{ site.baseurl }}/search/?q={{ tag }}">#{{ tag }}</a>
    {% endfor %}
  {% endif %}
  <hr>

  <section class="markdown">
    {{ content }}
  </section>
</div>
</div>
