---
layout: default
---

<div class="card">
  <style>
/* Create two equal columns that floats next to each other */
.doc_toc {
  float: left;
  width: 13em;
}
.doc_content {
  float: left;
  width: calc(100% - 13em);
  padding-left: 10px
}

/* Clear floats after the columns */
.doc_row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead
of next to each other */

@media screen and (max-width: 60em) {
  .doc_toc {
    width: 100%;
  }
  .doc_content {
    width: 100%;
  }
}
</style>
<div class="doc_row">
  <div class="doc_toc">
    <table style="width:100%; border-collapse: collapse">
      {% for item in site.docs %}
        <tr><td style="border-bottom: 1px solid #ddd;">
        <b><a href="{{item.url}}" alt="{{item.title}}">{{item.title}}</a></b>
        </td></tr>
      {% endfor %}
    </table>
  </div>
    <div class="doc_content">
      {{ content }}
    </div>
  </div>
</div>
